[defaults]
inventory = inventory/hosts.yml
callback_plugins = callback_plugins
filter_plugins = filter_plugins
stdout_callback = default
callback_whitelist = elastic_audit
host_key_checking = False
retry_files_enabled = False
roles_path = playbooks/remediation/roles:playbooks/deployment/roles

[privilege_escalation]
become = False

[ssh_connection]
pipelining = True
